body{
  margin: 0;
  padding: 0;
}
.bgColor{
  background-color: rgb(240, 240, 240);
}
.navBar{
  margin: 2%;
  text-align: center;
  align-items: end;
}
.navContainer{
  align-items: end;
}
.leftNav{
  font-weight: bolder;
  align-items: center;
}
.rightNav{
  font-weight: bolder;
  font-size: small;
  height: 100%;
}
.bannerPostition{
  position: relative;
}
.bannerBtn{
  position: absolute;
  top: -12vw;
  left: 13vw;
  width: 14rem;
  height: 4rem;
}
.gameSelect{
  width: 25%;
  margin-bottom: 3vw;
}
.footer{
  background-color: black;
}
.navLogo{
  width:70%;
  margin: 0 auto;
}

.nav-link {
  color: black;
  transition: color 0.3s;
  font-weight: bold;
  font-size: 2vh;
}

.nav-link:hover {
  color: red;
}
